extends _layout.pug

block variables
  -
    var title = 'Главная страница'
    var description = 'Главная страница'
    var index = false

block content
  include components/requisites.pug
  include components/question.pug
