-
  var benefits = {
    header: 'Еще несколько причин начать работать с нами',
    items: [
      '',
      'Работаем в неблагоприятных природно-техногенных условиях. Выполняем работы в условиях неустойчивого и водонасыщенного грунта, подтопляемых участках. Разрабатываем мероприятия инженерной защиты территории предполагаемого строительства.',
      'Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.',
      'Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.',
      'Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.',
      'Наши специалисты-проектировщики индивидуально под ваш объект предложат технические решения, которые обеспечат снижение затрат без ущерба качества работ с сохранением несущей способности оснований.',
    ],
  }

.benefits#benefits
  .container
    .benefits-items.flex
      each item, index in benefits.items
        if index === 0
          .benefits__item
            h2.benefits__header !{benefits.header}
        else
          .benefits__item !{item}
