-
  var requisites = {
    header: 'Контакты и реквизиты',
  }

.requisites#requisites
  .container
    h2.requisites__header !{requisites.header}
    .requisites__text
      p #[strong Директор:] Балаян Сергей Юрьевич
      p #[strong Полное наименование организации:] Общество с ограниченной ответственностью «СпецТехноАльянс»
    .requisites__inner.flex
      .requisites__left
        p #[strong ИНН:] 4027139078
        p #[strong КПП:] 402701001
        p #[strong ОГРН:] 1194027001508
        p #[strong ОКПО:] 35877892
        p #[strong ОКОГУ:] 4210014
        p #[strong ОКФС:] 16
        p #[strong ОКОПФ:] 12300
        p #[strong ОКВЭД:] 41.20
      .requisites__right
        p #[strong Банковские реквизиты:]
        p #[strong Р/счет №:] 40702810322240005911 <br>Калужское Отделение № 8608 ПАО Сбербанк
        p #[strong К/счет №:] 30101810100000000612
        p #[strong БИК:] 042908612
    .requisites__text
      p #[strong E-mail:] #[a(href="mailto:gspsnab@mail.ru") gspsnab@mail.ru]
      p #[strong Номер тел./факс:] +7 (910) 544-27-49
      p #[strong Юридический и почтовый адрес:] 248000, г. Калуга, ул. Достоевского, д.25, офис 3
